*{ /*  */
    margin:0px;
    padding:0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    max-width: 1000px;
    border: 1px solid lightblue;
    margin: 0 auto;
}

header{
    height: 100px;
    background: #000;
    display: flex;
    align-items: center;
}

header h1{
    color:red;
}

section{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border-radius: 2px;
    border: 2px solid rgb(9, 161, 9);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.box h1, p{
    padding: 20px;
}

footer{
    background-color: #000;
    text-align: center;
}

#vossoCu{
    color: rgb(255, 45, 108);
}